/* Fonts */
body {
    font-family: 'Truculenta', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Global layout */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
.wrapper {
    margin: auto 15px;
}
header, aside, footer {
    background-color: rgb(226, 156, 5);
    text-align: center;
}
h1 {
    font-family: 'Ballet', cursive;
    font-size: 20px;
    padding-top: 14px;
    margin-top: 0;
}
ul {
    padding: 0;
    margin-bottom: -30px;
}
ul li {
    display: block;
    list-style: none;
    padding: 5px;
    margin: 3px 0;
    text-align: center;
}
ul a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav {
    margin-top: -30px;
}
.container {
    margin: 30px auto 10px auto;
}
img {
    width: 85vw;
    margin-top: 10px;
}
.profile-img {
    max-width: 60%;
}
section {
    margin-top: 4em;
}
h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2em;
    padding-top: 1em;
}
h3 {
    padding-top: 0.5em;
}
p {
    padding: 20px;
}
section p {
    padding: 6px;
}
.address {
    font-style: normal;
}
em {
    text-emphasis: none;
    font-style: normal;
    font-weight: bold;
}
.container-bottom-nav {
    width: 100%;
}
.bottom-nav {
    display: inline-block;
    width: calc(48% - 10px);
    justify-content: space-around;
    font-size: .9em;
    font-weight: 700;
    padding: 20px 5px;
}
.bottom-nav:first-child {
    text-align: left;
}
.bottom-nav:last-child {
    text-align: right;
}
#contact {
    margin-top: 30px;
    background-color: rgb(248, 248, 248);
    border-bottom: .5px solid grey;
}
footer {
    padding: 10px 0 30px;
}

/* ==================================
FLEX BOX START */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FLEX BOX END
================================== */


/* Tablet layout (>320px <769px) */
@media screen and (min-width: 321px){
    .name {
        align-self: center;
    }
    .container {
        display: flex;
    }
    .nav {
        padding: 0 10px;
    }
    aside {
        display: flex;
        padding: 0 20px 20px;
    }
    aside img {
        width: 35%;
    }
    aside p {
        order: -1;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-1 {
        display: flex;
        flex-wrap: wrap;
    }
    section article {
        flex: 1 40vw;
    }
    /* aside {
        width: 100%;
        padding: 30px 30px 50px 30px;
    }
    .profile-img {
        width: 60vh;
        float: right;
        padding-left: 30px;
    }
    .intro-text {
        text-align: left;
        padding: 20px 20px 20px 10px;
    }
    article {
        display: inline-block;
        width: calc(45% - 25px);
        margin: 20px;
    }
    article img {
        width: 100%;
    }
    section div {
        display: block;
    }
    #contact p {
        padding: 10px 190px;
        text-align: center;
    }
    .address p {
        margin: auto 0;
    }
    .address p:last-child {
        margin-bottom: 10px;
    }
    the annoying nav in the end 
    #container-bottom-nav-big {
        display: inline-block;
    }
    #container-bottom-nav-big-top {
        display: inline-block;
    }
    .main-nav {
        width: 100%;
        min-height: 70px;
        text-align: center;
    }
    .right-nav .name {
        display: block;
        margin-right: auto;
    }
    .name {
        display: inline-block;
        width: 60vw;
        text-align: left;
    }
    .nav li {
        padding: 5px 10px 10px 10px;
    }
    .right-nav {
        display: inline-block;
        margin-top: 7px;
        margin-left: 10px;
    } */
}

/* Desktop layout (>769px) */
@media screen and (min-width: 1024px) {
    /* the annoying nav at the top  */
    .container-top-nav-big {
        display: inline-block;
    }
    .main-nav {
        width: 100%;
        min-height: 70px;
        text-align: center;
    }
    .right-nav .name-top {
        display: block;
        margin-right: auto;
    }
    .name-top {
        display: inline-block;
        width: 60vw;
        text-align: left;
        font-size: 2em;
    }
    .nav li {
        padding: 5px 10px 10px 10px;
    }
    .right-nav {
        display: inline-block;
        margin-top: 7px;
        margin-left: 10px;
    }
    header {
        padding: 30px 0;
    }
    aside {
        height: 50vh;
    }
    .profile-img {
        width: 60vh;
        float: right;
        padding-left: 30px;
    }
    article {
        display: inline-block;
        width: calc(30% - 25px);
        margin: 20px;
    }
}