/* Fonts */
body {
    font-family: 'Truculenta', sans-serif;
}
/* Global layout */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#container-bottom-nav-big {
    margin-top: auto;
}
.wrapper {
    margin: auto 15px;
}
header, aside, footer {
    background-color: rgb(226, 156, 5);
    text-align: center;
}
h1 {
    font-family: 'Ballet', cursive;
    font-size: 20px;
    padding-top: 14px;
    margin: 0;
}
ul li {
    display: block;
    list-style: none;
    padding: 5px;
    margin: 3px 0;
    text-align: center;
}
ul a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
img {
    width: 85vw;
    margin-top: 10px;
}
.profile-img {
    max-width: 60%;
}
h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2em;
    padding-top: 1em;
}
h3 {
    padding-top: 0.5em;
}
p {
    padding: 20px;
}
section p {
    padding: 6px;
}
.address {
    font-style: normal;
}
em {
    text-emphasis: none;
    font-style: normal;
    font-weight: bold;
}
.container-bottom-nav {
    width: 100%;
}
.bottom-nav {
    display: inline-block;
    width: calc(48% - 10px);
    justify-content: space-around;
    font-size: .9em;
    font-weight: 700;
    padding: 20px 5px;
}
.bottom-nav:first-child {
    text-align: left;
}
.bottom-nav:last-child {
    text-align: right;
}
#contact {
    margin-top: 30px;
    background-color: rgb(248, 248, 248);
    border-bottom: .5px solid grey;
}
.bottom-nav2 {
    display: none;
}
ul {
    padding-left: 0;
}
/* ==================================
FLEX BOX START */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FLEX BOX END
================================== */


/* Tablet layout (>767px) */
@media screen and (min-width: 768px){
    .name {
        align-self: center;
    }
    .container {
        display: flex;
    }
    .nav {
        padding: 0 10px;
    }
    aside {
        display: flex;
        padding: 0 20px 20px;
    }
    aside img {
        width: 35%;
    }
    aside p {
        order: -1;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-1 {
        display: flex;
        flex-wrap: wrap;
    }
    section article {
        flex: 1 30vw;
        max-width: 500px;
        margin: 0 auto;
    }
    article img {
        max-width: 40vw;
        max-width: 500px;
        margin: 0 auto;
    }
    footer {
        padding: 10px 20px;
        border-top: solid 1px black;
    }
    .container-bottom-nav {
        display: none;
    }
    .bottom-nav2 {
        display: flex;
    }
    .nav-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .name-bottom {
        margin-right: auto;
    }
}

/* Desktop layout (>1023px) */
@media screen and (min-width: 1024px) {
    .main-header {
        display: flex;
        flex-direction: row;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .name {
        margin-right: auto;
        padding: 20px 20px 20px 40px;
    }
    .container {
        margin: 1em 0;
        padding: 0 20px 0 0;
    }
    section article {
        flex: 1 30vw;
    }
    article img {
        max-width: 30vw;
    }
}